<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%=title%> </title>
  </head>
  <body>
    <h1> <%=title%> </h1>
    <form action="/post/postadd" method="post">
    <label for="utitle">Post Title</label>
    <input type="text" name="utitle" id="utitle" value=""><p>
      <label for="ucontent">Post Content</label>
    <textarea name="ucontent" rows="8" cols="80"></textarea><p>
    <label for="uauthor">Post Author</label>
    <input type="text" name="uauthor" id="uauthor" value=""><p>
    <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
